@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Define que o `html` e `body` ocupem 100% da altura da tela e remove as margens */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Define o `body` como um contêiner flexível com orientação em coluna */
body {
  display: flex;
  flex-direction: column;
}

/* Define o `header` para ocupar 30% da altura da tela */
header {
  height: 30%;
  display: flex;
  flex-direction: column;
}

/* Estilização das divisões dentro do header */
.divHeaderCima {
  height: 30%;
  background-color: #ef97a4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.divHeaderMeio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
}

.divHeaderMeio img.logo {
  height: 70px;
  /* Aumenta o tamanho da logo */
}

.divHeaderMeio .search-input {
  flex-grow: 1;
  margin: 0 15px;
  /* Ajuste do espaço ao redor do input */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  /* Tamanho da fonte do input reduzido */
  text-align: center;
  /* Centraliza o texto dentro do input */
}

.divHeaderMeio button {
  margin-left: 8px;
  padding: 8px 12px;
  background-color: #ef97a4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  /* Tamanho da fonte do botão reduzido */
}

.divHeaderMeio button:hover {
  background-color: #e23e57;
}

.divHeaderBaixo {
  height: 25%;
  background-color: #e23e57;
  display: flex;
  flex-wrap: wrap;
  /* Permite que os botões se movam para a linha seguinte se necessário */
  justify-content: center;
  /* Centraliza os botões horizontalmente */
  align-items: center;
  /* Alinha os botões no centro verticalmente */
  padding: 10px 20px;
  /* Adiciona padding nas laterais para espaçamento */
  gap: 3px;
}

.divHeaderBaixo button {
  background-color: #e23e57;
  /* Cor de fundo */
  color: #ffffff;
  /* Cor do texto */
  border: 2px solid #e23e57;
  /* Borda na mesma cor do fundo */
  border-radius: 4px;
  padding: 8px 12px;
  /* Tamanho dos botões */
  font-size: 16px;
  /* Aumenta o tamanho da fonte */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Transição suave para hover */
}

.divHeaderBaixo button:hover {
  background-color: #e23e57;
  /* Cor de fundo ao passar o mouse */
  color: #ffffff;
  /* Cor do texto ao passar o mouse */
}

/* Estilo para os botões dentro da divHeaderBaixo */
.buttonHeaderBaixo {
  background-color: #e23e57;
  color: #ffffff;
  border: 2px solid #e23e57;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Transição suave para o efeito de aumento e sombra */
}

.buttonHeaderBaixo:hover {
  transform: scale(1.1);
  /* Aumenta o botão em 10% ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Aumenta a sombra ao passar o mouse para um efeito mais destacado */
}

/* Estilo da logo */
.logo {
  max-height: 100%;
  /* Garante que a logo ocupe a altura total da divHeaderMeio */
  max-width: 100%;
  /* Garante que a logo não ultrapasse os limites da div */
  object-fit: contain;
  /* Ajusta a imagem para que ela se encaixe dentro da div sem distorção */
}

.mainCima {
  height: 70%;
  overflow-y: auto;
  /* Adiciona rolagem vertical se o conteúdo exceder a altura */
  background-color: #e6e6e6;
}

.imageFarmacia img {
  max-width: 100%;
  height: auto;
 background-color: #e23e57;
  /* Para garantir que a imagem seja redimensionada corretamente */
}

.imageFarmacia {
  width: 60%;
  /* Aumenta a largura da imagem para 60% */
  padding: 20px;
}

.cimaTexto, .meioTexto, .baixoTexto {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.3em;
  color: #333;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;

}

.cimaTexto {
  flex-direction: row;
  /* Texto à direita da imagem */
}

.meioTexto {
  flex-direction: row-reverse;
  /* Texto à esquerda da imagem */
}

.baixoTexto {
  flex-direction: row;
  /* Texto à direita da imagem */
}

/* Estilo para o botão do WhatsApp */
.buttonWhats {
  position: fixed;
  right: 20px; /* Ajuste conforme necessário para o espaçamento do lado direito */
  bottom: 20px; /* Ajuste conforme necessário para o espaçamento do fundo */
  background-color: #ffffff; /* Cor do botão do WhatsApp */
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Transição suave para o efeito de aumento e sombra */
  transform-origin: center; /* Define o ponto de origem da transformação para o centro */
}

.buttonWhats:hover {
  transform: scale(1.1);
  /* Aumenta o botão em 10% ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* Aumenta a sombra ao passar o mouse para um efeito mais destacado */
}

.buttonWhats img {
  width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

