@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Define que o `html` e `body` ocupem 100% da altura da tela e remove as margens */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Define o `body` como um contêiner flexível com orientação em coluna */
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Define o `header` para ocupar 30% da altura da tela */
.headerAtendimento {
  height: 30%;
  display: flex;
  flex-direction: column;

}

/* Estilização das divisões dentro do header */
.divHeaderCimaAtendimento {
  height: 30%;
  background-color: #ef97a4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.textoHeaderMeioAtendimento{
  font-size: 35px;
  color: rgb(0, 0, 0);
}
.divHeaderMeioAtendimento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
}

.imagemLogoAtendimento .logoAtendimento {
  height: 70px;
  /* Aumenta o tamanho da logo */
}

.divHeaderMeioAtendimento button {
  padding: 8px 12px;
  background-color: #ef97a4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.divHeaderMeioAtendimento button:hover {
  background-color: #e23e57;
}

.divHeaderBaixoAtendimento {
  height: 25%;
  background-color: #e23e57;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 3px;
}

.buttonHeaderBaixoAtendimento {
  background-color: #e23e57;
  color: #ffffff;
  border: 2px solid #e23e57;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttonHeaderBaixoAtendimento:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilo da logo */
.logoAtendimento {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.mainCimaAtendimento {
  display: flex;
  height: 70%;
  background-color: #e6e6e6;
  padding-left: 10px;
  padding-top: 10px;

}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* Espaçamento entre a imagem e o conteúdo */
}

.image-lateral {
  max-width: 100%;
  height: 90%; /* Ajusta a altura da imagem para ocupar 100% da altura do contêiner */
  object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  text-align: center; /* Centraliza o texto dentro dos itens */
}
.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os botões horizontalmente */
  margin-bottom: 20px; /* Espaço abaixo dos botões */
}


.buttonBody {
  padding: 8px 12px; /* Reduz o padding dos botões */
  background-color: #ef97a4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px; /* Reduz o tamanho da fonte dos botões */
  max-width: 150px; /* Ajusta a largura máxima dos botões conforme necessário */
  flex: 1; /* Faz com que os botões ocupem o mesmo espaço disponível */
}

.buttonBody:hover {
  background-color: #e23e57;
}


#display-senha {
  margin: 20px 0; /* Espaço acima e abaixo do texto da senha */
  font-size: 20px; /* Ajusta o tamanho da fonte do texto da senha */
}

ul {
  list-style-type: none; /* Remove os marcadores das listas */
  padding: 0;
  margin: 10px 0; /* Espaço acima e abaixo das listas */
}

ul li {
  margin: 5px 0; /* Espaço entre os itens das listas */
  font-size: 18px; /* Ajusta o tamanho da fonte dos itens das listas */
}
